<!DOCTYPE html>
<html><head><title>phpinfo()</title>
<style>body{background:#fff;font-family:sans-serif}.e{background:#ccf;font-weight:bold}.v{background:#eee}</style>
</head>
<body>
<h1 class="p">PHP Version 7.4.33</h1>
<table>
<tr><td class="e">System</td><td class="v">Linux honeypot-http 5.10.0-23-amd64 #1 SMP Debian 5.10.179-1 x86_64</td></tr>
<tr><td class="e">Server API</td><td class="v">Apache 2.0 Handler</td></tr>
<tr><td class="e">Configuration File (php.ini) Path</td><td class="v">/etc/php/7.4/apache2</td></tr>
<tr><td class="e">Loaded Configuration File</td><td class="v">/etc/php/7.4/apache2/php.ini</td></tr>
<tr><td class="e">PHP API</td><td class="v">20190902</td></tr>
<tr><td class="e">Loaded Extensions</td><td class="v">Core, date, libxml, openssl, pcre, zlib, mysqli, curl, json, mbstring, gd</td></tr>
<tr><td class="e">DOCUMENT_ROOT</td><td class="v">/var/www/html</td></tr>
</table>
</body></html>
