<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<title>Dashboard &lsaquo; My Blog &#8212; WordPress</title>
	<link rel="stylesheet" href="/wp-admin/css/dashboard.min.css" media="all" />
</head>
<body class="wp-admin wp-core-ui dashboard">
<div id="wpwrap">
	<div id="adminmenu">
		<ul>
			<li><a href="/wp-admin/">Dashboard</a></li>
			<li><a href="/wp-admin/edit.php">Posts</a></li>
			<li><a href="/wp-admin/upload.php">Media</a></li>
			<li><a href="/wp-admin/plugins.php">Plugins</a></li>
			<li><a href="/wp-admin/users.php">Users</a></li>
			<li><a href="/wp-admin/options-general.php">Settings</a></li>
		</ul>
	</div>
	<div id="wpbody">
		<h1>Dashboard</h1>
		<div id="dashboard-widgets">
			<div class="welcome-panel">
				<h2>Welcome to WordPress!</h2>
				<p>We&#8217;ve assembled some links to get you started.</p>
			</div>
			<div id="dashboard_right_now">
				<h2>At a Glance</h2>
				<ul>
					<li>1 Post</li>
					<li>1 Page</li>
					<li>1 Comment</li>
				</ul>
				<p>WordPress 6.5.2 running Twenty Twenty-Four theme.</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
